html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#qr-code {
	display: block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 200px;
	height: 200px;
	border: solid 15px #fff;
}

#qr-code canvas {
	width: 100%;
	height: 100%;
}

#qr-code img {
	width: 100%;
	height: 100%;
}